html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c344b;
}

#start-game {
  background-color: red;
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: #51b4ff;
  display: none;
  justify-content: center;
  align-items: center;
}

#end-game {
  background-color: green;
  width: 700px;
  height: 500px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#typed-words {
  text-align: center;
}
